<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="example-spacer">Ticket Movie Application</span>
      <input class="search-control" type="text" placeholder="Filter Search" [(ngModel)]="searchText">&nbsp;
      <input class="search-control" type="text" placeholder="Backend Search" [(ngModel)]="getSearchText">&nbsp;
      <button mat-raised-button (click)="search(getSearchText)">
        Search
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-list class="container">
    <mat-list-item class = 'content' style="height: 150px" *ngFor="let item of message | filter: searchText">
      <div class = 'container'>
        <mat-card class="is-focusable" (click)="navigate(item)">
          <mat-card-header>
            <mat-card-title>
              <div>{{item.title}}</div>
            </mat-card-title>
          </mat-card-header>
        <mat-card-content style="padding-left: 15px" >
          <p mat-line>{{item.director}}</p>
          <p mat-line>{{item.producer}}</p>
        </mat-card-content>
      </mat-card>
      </div>
    </mat-list-item>
    <mat-list-item *ngIf="(message | filter: searchText).length === 0">
      <mat-icon mat-list-avatar>error</mat-icon>
      <div mat-line>0 results</div>
      <div mat-line>No matching Movies</div>
    </mat-list-item>
  </mat-list>
</div>
